<Space Wrap="true" Style="margin: 5px; background: #D8D8D8" Size=@(("3", "8"))>
    <SpaceItem>
        <div class="info" style="width:118px">Id заказа</div> 
    </SpaceItem>
    <SpaceItem>
        <div class="info" style="width:118px">Сумма заказа</div>
    </SpaceItem>
    <SpaceItem>
        <div class="info" style="width:242px">Адрес доставки</div>
    </SpaceItem>
    <SpaceItem>
        <div class="info" style="width:118px">Статус заказа</div>
    </SpaceItem>
    <SpaceItem>
        <div class="info" style="width:118px">Дата заказа</div>
    </SpaceItem>
    <SpaceItem>
        <div class="info" style="width:118px">ФИО</div>
    </SpaceItem>
    <SpaceItem>
        <a><Icon Type="edit" Theme="outline" Style="font-size:28px; color: #656565" /></a>
    </SpaceItem>
</Space>